@import url("fonts/stylesheet.css");

.App {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header.header {
  font-family: Museo Sans Cyrl;
}

header.header .header_top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #333333;
  font-size: 1rem;
  color: #fff;
  z-index: 5;
}

header.header .header_top .header_container {
  max-width: 90.625rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

header.header .header_top .header_container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 3.75rem;
  column-gap: 3.75rem;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.9375rem 0 0.875rem;
}

header.header .header_top .header_container ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.75rem;
  column-gap: 0.75rem;
  width: 11%;
}

header.header .header_top .header_container ul li select {
  background-color: #333333;
  border: 1px solid #333333;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("./images/header/header_top/arrow.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position: 100%;
  background-size: 10px, 5.714px;
  width: 37%;
  color: #956D84;
}

header.header .header_top .header_container ul li select option {
  background-color: #333333;
  border: 1px solid #333333;
}

header.header .header_top .header_container ul:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

header.header .header_top .header_container ul:nth-of-type(1) li:nth-of-type(3) {
  width: 13%;
}

header.header .header_top .header_container ul:nth-of-type(1) li:nth-of-type(4) div {
  position: relative;
}

header.header .header_top .header_container ul:nth-of-type(1) li:nth-of-type(4) div span {
  position: absolute;
  width: 12px;
  height: 12px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.7;
  font-size: 0.625rem;
  color: #414141;
  left: 60%;
  text-align: center;
}

header.header .header_top .header_container ul:nth-of-type(1) li:nth-of-type(5) {
  width: 17%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header.header .header_top .header_container ul:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 10.875rem;
}

header.header .header_top .header_container ul:nth-of-type(2) li button {
  border: 0px solid transparent;
  background-color: transparent;
  color: #fff;
}

header.header .header_content {
  padding-top: 4.0625rem;
}

header.header .header_content .header_content_container {
  max-width: 90.625rem;
  /* width: 100%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

header.header .header_content .header_content_container .header_content_center {
  /* -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 1.875rem;
}

header.header .header_content .header_content_container .header_content_center .header_content_center_search {
  max-width: 51.25rem;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 1.3125rem;
  column-gap: 1.3125rem;
  padding-bottom: 2.9375rem;
}

header.header .header_content .header_content_container .header_content_center .header_content_center_search input {
  width: 100%;
  border-bottom: 1px solid #956d84;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

header.header .header_content .header_content_container .header_content_center .header_content_center_search input:nth-of-type(1) {
  max-width: 22.6%;
}

header.header .header_content .header_content_container .header_content_center .header_content_center_search input:nth-of-type(2) {
  max-width: 73.2%;
}

header.header .header_content .header_content_container .header_content_center .header_content_center_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4.375rem;
  column-gap: 4.375rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.125rem;
  text-transform: none;
  list-style: none;
}

header.header .header_content .header_content_container .header_content_center .header_content_center_menu ul li a {
  color: #333333;
  text-decoration: none;
}

header.header .header_content .header_content_container .header_content_center .header_content_center_menu ul li:hover a {
  color: #956d84;
}

header.header .header_content .header_content_container .header_content_right {
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1rem;
}

header.header .header_content .header_content_container .header_content_right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-column-gap: 13px;
  column-gap: 13px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  padding-left: 0;
}

header.header .header_content .header_content_container .header_content_right a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.125rem;
  color: #333;
}

header.header .header_content .header_content_container .header_content_right div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 19px;
  column-gap: 19px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header.header .header_content .header_content_container .header_content_right div span {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 10px;
}

/* main */

main.main {
  font-family: "Museo Sans Cyrl 500";
}

main.main .main_container {
  max-width: 90.625rem;
  width: 100%;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  padding-top: 3.4375rem;
  margin: 0 auto;
}

main.main .main_container .main_discount {
  display: grid;
  grid-template-areas: "a a b c" "a a d e";
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 1.75rem;
  padding-bottom: 3rem;
}

main.main .main_container .main_discount div {
  position: relative;
}

main.main .main_container .main_discount div img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
}

main.main .main_container .main_discount div>span {
  position: absolute;
  top: 2.5rem;
  left: 12%;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.5rem;
  text-align: center;
}

main.main .main_container .main_discount .main_discount1 {
  grid-area: 1 / 1 / 3 / 3;
}

main.main .main_container .main_discount .main_discount1>span {
  max-width: 24.8125rem;
}

main.main .main_container .main_discount .main_discount2 {
  grid-area: 1 / 3 / 2 / 4;
}

main.main .main_container .main_discount .main_discount3 {
  grid-area: 1 / 4 / 2 / 5;
}

main.main .main_container .main_discount .main_discount4 {
  grid-area: 2 / 3 / 3 / 4;
  max-width: 21rem;
  max-height: 20.0625rem;
  background-color: #ffdb6b;
}

main.main .main_container .main_discount .main_discount4 picture img {
  width: calc(100vw / 4 - 69px);
  display: block;
  max-width: 21rem;
  max-height: 20.0625rem;
  height: 100%;
  margin-left: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

main.main .main_container .main_discount .main_discount6 {
  grid-area: 2 / 4 / 3 / 5;
  max-width: 21rem;
  max-height: 20.0625rem;
  position: relative;
}

main.main .main_container .main_discount .main_discount6 picture:nth-of-type(2) img {
  position: absolute;
  bottom: 0;
  right: 0;
}

main.main .main_container .main_photo_report .main_photo_report_blocks {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 1.25rem;
  column-gap: 1.25rem;
  margin: 0 auto;
  width: 100%;
  font-family: "Museo Sans Cyrl 500";
  padding-bottom: 7.1875rem;
}

main.main .main_container .main_photo_report .main_photo_report_blocks>div {
  width: calc(100vw / 3 - 20px);
}

main.main .main_container .main_photo_report .main_photo_report_blocks>div img {
  width: 100%;
}

main.main .main_container .main_photo_report .main_photo_report_blocks>div h2,
main.main .main_container .main_photo_report .main_photo_report_blocks>div p {
  position: absolute;
}

main.main .main_container .main_photo_report .main_photo_report_blocks>div h2 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.1875rem;
}

main.main .main_container .main_photo_report .main_photo_report_blocks>div p {
  color: #828282;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.125rem;
}

main.main .main_container .main_photo_report .main_photo_report_blocks>div:nth-of-type(1) {
  color: #333333;
}

main.main .main_container .main_photo_report .main_photo_report_blocks>div:nth-of-type(1) h2 {
  top: 9%;
  left: 2.1875rem;
  max-width: 13.3125rem;
}

main.main .main_container .main_photo_report .main_photo_report_blocks>div:nth-of-type(1) p {
  top: 46%;
  left: 2.1875rem;
  max-width: 12.3125rem;
}

main.main .main_container .main_photo_report .main_photo_report_blocks>div:nth-of-type(2) {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  color: #fff;
}

main.main .main_container .main_photo_report .main_photo_report_blocks>div:nth-of-type(2) h2 {
  top: 42%;
  left: 42%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

main.main .main_container .main_photo_report .main_photo_report_blocks>div:nth-of-type(2) p {
  top: 64%;
  left: 38%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  color: #fff;
}

main.main .main_container .main_photo_report .main_photo_report_blocks>div:nth-of-type(3) {
  color: #333333;
}

main.main .main_container .main_photo_report .main_photo_report_blocks>div:nth-of-type(3) h2 {
  top: 7%;
  left: 85%;
  max-width: 11.125rem;
}

main.main .main_container .main_photo_report .main_photo_report_blocks>div:nth-of-type(3) p {
  top: 45%;
  left: 85%;
  max-width: 16.375rem;
}

main.main .main_container .main_stock {
  padding-bottom: 8.75rem;
}

main.main .main_container .main_stock .main_stock_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 2.1875rem;
}

main.main .main_container .main_stock .main_stock_top>h2 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  color: #333333;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.125rem;
}

main.main .main_container .main_stock .main_stock_top .main_stock_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-column-gap: 1.6875rem;
  column-gap: 1.6875rem;
}

main.main .main_container .main_stock .main_stock_blocks {
  display: grid;
  grid-template-columns: repeat(4, minmax(190px, 1fr));
  gap: 1.25rem;
}

main.main .main_container .main_stock .main_stock_blocks .main_stock_card {
  border: 1px solid #956d84;
  padding: 5px 20px 15px 20px;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

main.main .main_container .main_stock .main_stock_blocks .main_stock_card .main_stock_card_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main.main .main_container .main_stock .main_stock_blocks .main_stock_card .main_stock_card_top>span {
  border: 1px dashed #e72222;
  border-radius: 50%;
  height: 56px;
  width: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main.main .main_container .main_stock .main_stock_blocks .main_stock_card>picture:nth-of-type(1) img {
  width: 100%;
}

main.main .main_container .main_stock .main_stock_blocks .main_stock_card>span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #956d84;
  font-family: Euclid Circular B;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125rem;
  width: 56px;
  height: 56px;
  border: 1px solid rgba(157, 117, 140, 0.39);
  border-radius: 50%;
  background-color: rgba(157, 117, 140, 0.39);
  text-transform: uppercase;
  font-family: MyWebFont;
  margin-left: auto;
}

main.main .main_container .main_stock .main_stock_blocks .main_stock_card .main_stock_card_med {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main.main .main_container .main_stock .main_stock_blocks .main_stock_card .main_stock_card_med>h3 {
  color: #333333;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.125rem;
}

main.main .main_container .main_stock .main_stock_blocks .main_stock_card .main_stock_card_med .main_stock_card_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main.main .main_container .main_stock .main_stock_blocks .main_stock_card .main_stock_card_med .main_stock_card_price>span:nth-of-type(1) {
  color: #bdbdbd;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.125rem;
  text-decoration: line-through;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

main.main .main_container .main_stock .main_stock_blocks .main_stock_card .main_stock_card_med .main_stock_card_price>span:nth-of-type(2) {
  color: #956d84;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.125rem;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

main.main .main_container .main_stock .main_stock_blocks .main_stock_card a:nth-of-type(1) {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.125rem;
  border-radius: 0.4375rem;
  background-color: #956d84;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15) inset;
  max-width: 13.75rem;
  width: 100%;
  padding: 1.375rem 3.25rem;
  margin: 0 auto;
}

main.main .main_container .main_stock .main_stock_blocks .main_stock_card a:nth-of-type(2) {
  color: #828282;
  text-align: center;
  font-family: Euclid Circular B;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  padding-top: 0.875rem;
}

main.main .main_container .main_stock .main_stock_card:nth-of-type(4n + 4)>picture>img {
  position: relative;
  max-width: 17.5625rem;
  padding-bottom: 4.6875rem;
}

main.main .main_container .main_sesonal {
  padding-bottom: 9rem;
}

main.main .main_container .main_sesonal .main_sesonal_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 2.125rem;
}

main.main .main_container .main_sesonal .main_sesonal_top>h2 {
  color: #000;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.125rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

main.main .main_container .main_sesonal .main_sesonal_top .main_sesonal_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.6875rem;
  column-gap: 1.6875rem;
}

main.main .main_container .main_sesonal .main_sesonal_blocks {
  display: grid;
  grid-template-columns: repeat(4, minmax(190px, 1fr));
  gap: 1.25rem;
}

main.main .main_container .main_sesonal .main_sesonal_blocks .main_sesonal_card {
  position: relative;
  border: 1px solid #956d84;
  padding: 5px 20px 15px 20px;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

main.main .main_container .main_sesonal .main_sesonal_blocks .main_sesonal_card .main_sesonal_card_top picture:nth-of-type(1) img {
  position: absolute;
  top: 7%;
  right: 9%;
}

main.main .main_container .main_sesonal .main_sesonal_blocks .main_sesonal_card .main_sesonal_card_top picture:nth-of-type(2) img {
  width: 100%;
}

main.main .main_container .main_sesonal .main_sesonal_blocks .main_sesonal_card>span {
  position: absolute;
  right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #956d84;
  font-family: Euclid Circular B;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125rem;
  width: 56px;
  height: 56px;
  border: 1px solid rgba(157, 117, 140, 0.39);
  border-radius: 50%;
  background-color: rgba(157, 117, 140, 0.39);
  text-transform: uppercase;
  font-family: MyWebFont;
  margin-left: auto;
}

main.main .main_container .main_sesonal .main_sesonal_blocks .main_sesonal_card .main_sesonal_card_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

main.main .main_container .main_sesonal .main_sesonal_blocks .main_sesonal_card .main_sesonal_card_price>h3 {
  color: #333333;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.125rem;
}

main.main .main_container .main_sesonal .main_sesonal_blocks .main_sesonal_card .main_sesonal_card_price>span {
  color: #956d84;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.125rem;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

main.main .main_container .main_sesonal .main_sesonal_blocks .main_sesonal_card a:first-of-type {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: "Museo Sans Cyrl";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125rem;
  padding: 1.375rem 3.25rem;
  max-width: 13.75rem;
  width: 100%;
  margin: 0 auto;
  border-radius: 0.4375rem;
  background-color: #956d84;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15) inset;
}

main.main .main_container .main_sesonal .main_sesonal_blocks .main_sesonal_card a:last-of-type {
  color: #828282;
  text-align: center;
  font-family: Euclid Circular B;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  padding-top: 1rem;
}

main.main .main_container .main_sesonal .main_sesonal_blocks .main_sesonal_card:nth-of-type(4n + 2) .main_sesonal_card_top {
  padding-bottom: 3.5625rem;
}

main.main .main_container .main_sesonal .main_sesonal_blocks .main_sesonal_card:nth-of-type(4n + 3) .main_sesonal_card_top {
  padding-bottom: 4.1875rem;
}

main.main .main_container .main_sesonal .main_sesonal_blocks .main_sesonal_card:nth-of-type(4n + 4) .main_sesonal_card_top {
  padding-bottom: 6.625rem;
}

main.main .main_container .main_gift {
  padding-bottom: 7.1875rem;
}

main.main .main_container .main_gift .main_gift_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 2.125rem;
}

main.main .main_container .main_gift .main_gift_top>h2 {
  color: #000;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.125rem;
}

main.main .main_container .main_gift .main_gift_top .main_gift_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.6875rem;
  column-gap: 1.6875rem;
}

main.main .main_container .main_gift .main_gift_blocks {
  display: grid;
  grid-template-columns: repeat(4, minmax(190px, 1fr));
  gap: 1.25rem;
}

main.main .main_container .main_gift .main_gift_blocks .main_gift_card {
  position: relative;
  border: 1px solid #956d84;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 1.25rem 1.25rem 0.9375rem 1.25rem;
}

main.main .main_container .main_gift .main_gift_blocks .main_gift_card>picture:nth-of-type(1)>img {
  position: absolute;
  top: 4%;
  right: 7%;
}

main.main .main_container .main_gift .main_gift_blocks .main_gift_card>picture:nth-of-type(2)>img {
  width: 100%;
}

main.main .main_container .main_gift .main_gift_blocks .main_gift_card>span {
  position: absolute;
  top: 50%;
  right: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #956d84;
  font-family: Euclid Circular B;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: rgba(157, 117, 140, 0.39);
  text-transform: uppercase;
}

main.main .main_container .main_gift .main_gift_blocks .main_gift_card .main_gift_card_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

main.main .main_container .main_gift .main_gift_blocks .main_gift_card .main_gift_card_price>h3 {
  color: #333333;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.125rem;
}

main.main .main_container .main_gift .main_gift_blocks .main_gift_card .main_gift_card_price>span {
  color: #956d84;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.125rem;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

main.main .main_container .main_gift .main_gift_blocks .main_gift_card a:first-of-type {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: "Museo Sans Cyrl";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.125rem;
  padding: 1.375rem 3.25rem;
  max-width: 13.75rem;
  width: 100%;
  margin: 0 auto;
  border-radius: 0.4375rem;
  background-color: #956d84;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15) inset;
}

main.main .main_container .main_gift .main_gift_blocks .main_gift_card a:last-of-type {
  color: #828282;
  text-align: center;
  font-family: Euclid Circular B;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  padding-top: 1rem;
}

main.main .main_container .main_forum {
  padding-bottom: 5rem;
}

main.main .main_container .main_forum .main_forum_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 2.6875rem;
}

main.main .main_container .main_forum .main_forum_top>h2 {
  color: #000;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-family: "Museo Sans Cyrl";
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.125rem;
}

main.main .main_container .main_forum .main_forum_top .main_forum_top_new>a {
  max-width: 8.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.25rem;
  column-gap: 0.25rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

main.main .main_container .main_forum .main_forum_blocks {
  display: grid;
  grid-template-columns: repeat(3, minmax(190px, 1fr));
  -webkit-column-gap: 1.25rem;
  column-gap: 1.25rem;
}

main.main .main_container .main_forum .main_forum_blocks picture img {
  width: 100%;
}

main.main .main_container .main_forum .main_forum_blocks .main_forum_blocks_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(70%, #956d84), color-stop(30%, white));
  background-image: linear-gradient(to top, #956d84 70%, white 30%);
  padding: 0 1.25rem 1.25rem;
  text-decoration: none;
}

main.main .main_container .main_forum .main_forum_blocks .main_forum_blocks_card>h2 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5625rem;
}

main.main .main_container .main_forum .main_forum_blocks .main_forum_blocks_card>p {
  color: #fff;
  font-size: 1rem;
  font-weight: 250;
  line-height: 1.125rem;
}

main.main .main_container .main_map_contact {
  padding-bottom: 5.3125rem;
  position: relative;
}

main.main .main_container .main_map_contact .main_map_contact_content {
  position: absolute;
  top: 0;
  right: 15%;
  max-width: 23.75rem;
  width: 100%;
  height: 100%;
  max-height: 31.75rem;
  background-color: #fff;
  -webkit-filter: drop-shadow(4px 0px 10px rgba(0, 0, 0, 0.15)) drop-shadow(-4px 0px 10px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(4px 0px 10px rgba(0, 0, 0, 0.15)) drop-shadow(-4px 0px 10px rgba(0, 0, 0, 0.15));
  padding: 25px 72px 25px 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

main.main .main_container .main_map_contact .main_map_contact_content a,
main.main .main_container .main_map_contact .main_map_contact_content span {
  text-decoration: none;
  color: #333333;
  font-family: "Museo Sans Cyrl";
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.125rem;
}

main.main .main_container .main_map_contact .main_map_contact_content>picture:nth-of-type(1) {
  text-align: center;
}

main.main .main_container .main_map_contact .main_map_contact_content>div:nth-of-type(1) a {
  display: block;
}

main.main .main_container .main_map_contact .main_map_contact_content>div:last-of-type {
  max-width: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 1.3125rem;
  column-gap: 1.3125rem;
}

main.main .main_container .main_map_contact .main_map_contact_content>div:last-of-type>a {
  display: block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #956d84;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
}